In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
path = 'electronika_03_04.xlsx'
df = pd.read_excel(path)

In [3]:
print(df.info(memory_usage=True)) #данные о признаках

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357036 entries, 0 to 357035
Data columns (total 37 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Order_ID      357036 non-null  object
 1   Email_new     357036 non-null  object
 2   Phone_new     357036 non-null  object
 3   Source        357036 non-null  object
 4   OrderDate     357036 non-null  datetime64[ns]
 5   время         357036 non-null  object
 6   месяц         357036 non-null  int64
 7   ChangeDate    357036 non-null  object
 8   DeliveryDate  357036 non-null  object
 9   PaymentDate   357036 non-null  object
 10  Status        357036 non-null  object
 11  Status_ID     357036 non-null  int64
 12  OneClick      357036 non-null  int64
 13  CancelReason  126168 non-null  object
 14  Actions       95540 non-null   object
 15  DeliveryType  348751 non-null  object
 16  PaymentType   357036 non-null  object
 17  Region        357034 non-null  object
 18  Area          355405 non-null  object
 19  Store_ID      357036 non-null  int64
 20  FullSum       357016 non-null  float64
 21  Discount      357016 non-null  float64
 22  IM_Rozn_Sum   357016 non-null  float64
 23  Row_ID        357016 non-null  float64
 24  Articul       357016 non-null  float64
 25  Nom_Name      356978 non-null  object
 26  NomGroup      357016 non-null  object
 27  Quant         357016 non-null  float64
 28  RowPrice      357016 non-null  float64
 29  RowDiscount   357016 non-null  float64
 30  RowSum        357016 non-null  float64
 31  Brand         190895 non-null  object
 32  TN            190935 non-null  object
 33  TK            190935 non-null  object
 34  NomFullPath   357016 non-null  object
 35  Week          357016 non-null  float64
 36  Nom_ID        357016 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(4), object(21)
memory usage: 100.8+ MB
None

In [4]:
df = df[df.Phone_new != 0]

In [5]:
len(df) #стало на 8к записей меньше

349461

In [6]:
df.min()

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
df.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Order_ID                                       5898108_BX
Phone_new                         57565355-57554952485597
Source                                           Терминал
OrderDate                             2016-04-30 00:00:00
время                                        23:59:59.000
месяц                                              201604
ChangeDate                        2016-07-10 11:15:49.000
DeliveryDate                      2016-07-14 00:00:00.000
PaymentDate                       2016-06-04 15:13:42.000
Status                                         Согласован
Status_ID                                              26
OneClick                                                1
PaymentType                                      Наличные
Store_ID                                             9999
FullSum                                          888740.0
Discount                                          40011.0
IM_Rozn_Sum                                      888740.0
Row_ID                                               41.0
Articul                                         1263264.0
NomGroup        Ящики, органайзеры, сумки для инструмента
Quant                                               285.0
RowPrice                                         676240.0
RowDiscount                                       56090.0
RowSum                                           676240.0
NomFullPath             Фото- и видеотехника/Экшн-камеры/
Week                                                 17.0
Nom_ID                                           366186.0
dtype: object

In [ ]:
#df = df[df["DeliveryDate"].str.contains("1900") == False]
#df = df[df["PaymentDate"].str.contains("1900") == False]

In [7]:
df.min()

TypeError: '<=' not supported between instances of 'str' and 'int'

In [8]:
#len(df) #стало на 120к записей меньше

In [9]:
df = df[df["NomFullPath"].str.contains("Услуги") == False] #удаляем данные о доставке и прочих услугах

In [10]:
df2 = df.groupby('Phone_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )

In [11]:
df3 = df2[df2['count'] > 80] #рассмотреть детальнее

In [12]:
df3

                       Phone_new  count
60712   55574954-484951565653705   1356
59749    55574953-54565256525374    423
75       55555750-53535149574979    405
1698     55574850-51534848565673    396
14       55485656-57565656575275    276
49668   55574950-574849515256745    241
3045    55574850-575051575357745    148
120419   55575653-56495057484877    134
449      55574848-51545049555575    129
93891    55575054-57485155535370    125
4474     55574851-49505049485074    122
97618    55575057-53575553514972    108
62595    55574954-50515654534871    106
92391    55575054-55485651574974    102
96048    55575055-55495355575771     90
2095    55574850-535455485554765     89
25199   55574853-555650565650705     88
27206   55574854-505248565549755     87
90961    55575054-53555551505772     87
46893   55574949-575352515756775     87
93783    55575054-56575051575579     81

Клиент с большим количество заказов постоянно заказывает с разной почты товары независимо от их скидки. Возможно, это неверно указанные телефоны или ошибки в данных. Этих клиентов необходимо удалить

In [13]:
df[df.Phone_new == '55574954-484951565653705']

,Order_ID,Email_new,Phone_new,Source,OrderDate,время,месяц,ChangeDate,DeliveryDate,PaymentDate,...,Quant,RowPrice,RowDiscount,RowSum,Brand,TN,TK,NomFullPath,Week,Nom_ID
1109,1867003416_TT,55666662111109_om15@mail333.com,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,11:05:17.000,201603,2016-03-01 11:19:12.000,2016-03-01 00:00:00.000,2016-03-01 11:19:14.000,...,1.0,3220.0,0.0,3220.0,Bosch,Мелкая бытовая техника,Приготовление пищи,Техника для кухни/Обработка продуктов/Блендеры/,9.0,18500.0
1519,1871000582_TT,562111117_ou14@mail.ru,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,12:04:52.000,201603,2016-03-01 12:19:56.000,2016-03-08 00:00:00.000,2016-03-01 12:19:58.000,...,1.0,7299.0,800.0,6499.0,Redmond,Мелкая бытовая техника,Приготовление пищи,Техника для кухни/Приготовление пищи/Мультиварки/,9.0,25315.0
1711,1961000629_TT,562111117_ou14@mail.ru,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,12:28:31.000,201603,2016-03-01 12:49:42.000,2016-03-08 00:00:00.000,2016-03-01 12:49:44.000,...,1.0,20240.0,0.0,20240.0,Electrolux,Крупная бытовая техника,Встраиваемая техника,Встраиваемая техника/Встраиваемые духовые шкаф...,9.0,38957.0
1798,1962000982_TT,58112117_pu21@rambler.ru,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,12:42:06.000,201603,2016-03-01 12:59:16.000,2016-03-08 00:00:00.000,2016-03-01 12:59:17.000,...,1.0,4310.0,0.0,4310.0,Prestigio,ТВ-Аудио,Автоэлектроника,Автомобильная электроника/GPS навигаторы/,9.0,220668.0
1997,1962001073_TT,55666662111109_om15@mail333.com,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,13:09:24.000,201603,2016-03-01 13:19:25.000,2016-03-08 00:00:00.000,2016-03-01 13:19:27.000,...,1.0,29130.0,0.0,29130.0,Hotpoint-Ariston,Крупная бытовая техника,Холодильное оборудование,Техника для кухни/Крупная бытовая техника/Холо...,9.0,150479.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356374,5897072_BX,101117_eu14@inbox.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,20:05:29.000,201604,2016-04-30 20:13:49.000,2016-04-30 00:00:00.000,2016-04-30 20:13:50.000,...,1.0,4999.0,0.0,4999.0,Samsung,Мелкая бытовая техника,Уход за домом,Техника для дома/Техника для уборки/Пылесосы/П...,17.0,25296.0
356454,5897202_BX,666668105117_iu15@ya.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,20:29:25.000,201604,2016-04-30 21:23:39.000,2016-04-30 00:00:00.000,2016-04-30 21:23:40.000,...,1.0,33490.0,1300.0,32190.0,Hotpoint-Ariston,Крупная бытовая техника,Холодильное оборудование,Техника для кухни/Крупная бытовая техника/Холо...,17.0,151343.0
356470,5897236_BX,556664122109_zm25@gmail.com,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,20:37:02.000,201604,2016-04-30 20:43:48.000,2016-04-30 00:00:00.000,2016-04-30 20:43:48.000,...,1.0,1310.0,0.0,1310.0,Ginzzu,Аксессуары,Аксессуары для смартфонов и планшетов,Телефоны и связь/Аксессуары для телефонов/Порт...,17.0,203883.0
356668,5897554_BX,558115117_su21@psbank.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,21:36:40.000,201604,2016-05-02 14:39:01.000,2016-04-30 00:00:00.000,2016-05-02 14:39:02.000,...,1.0,499.0,33.0,466.0,DF,Аксессуары,Аксессуары для смартфонов и планшетов,Телефоны и связь/Аксессуары для телефонов/Защи...,17.0,182012.0
356669,5897554_BX,558115117_su21@psbank.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,21:36:40.000,201604,2016-05-02 14:39:01.000,2016-04-30 00:00:00.000,2016-05-02 14:39:02.000,...,1.0,14520.0,967.0,13553.0,Indesit,Крупная бытовая техника,Стиральные машины,Техника для дома/Стиральные и сушильные машины...,17.0,5703.0

In [14]:
df=df[~df.Phone_new.isin(df3.Phone_new)] #удаляем подозрительно много заказов

In [15]:
len(df) #стало на 98к записей меньше

183072

In [16]:
df.to_excel("electronika_clean.xlsx")